body{
    background-color: #C0E0DE;
}
.DivClass {
    background-color: #C0E0DE;
    color: #162521;
    font-family: monospace;
    border: solid;
    border-width: 5px; 
}

.TitleClass{
    background-color: #C0E0DE;
    margin: 10px;
    padding: 10px;
    padding-top: 10px;
    font-family: monospace;
    color: #162521;
    font-size: 30px;
}

.DescribeClass {
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
}
.messageBox{
    height: 200px;
    width: 400px;
}
.submitBtn {
    font-family: monospace;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
}

#Work1{
    font-size: 30px;
    background-color: rgb(193, 240, 224);
    color: black;
    font-weight: bolder;
    margin: 10px;
    height: 200px;
    width: 400px;
    display: inline-block;

}

#Work1:hover{
    opacity: .7;
    background-image: url('../images/Music.png');
    background-position: center;
    background-size: 200px;
    cursor: pointer;

}

#Work2{
    font-size: 30px;
    background-color: rgb(193, 240, 224);
    color: black;
    font-weight: bolder;
    margin: 10px;
    height: 200px;
    width: 400px;
    display: inline-block;
}

#Work2:hover{
    opacity: .7;
    background-image: url('../images/Movies.png');
    background-position: center;
    background-size: 200px;
    cursor: pointer;

}

#Repo{
    margin: 10px;
    padding: 10px;
    width: 400px;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(193, 240, 224);
}