.footer{
    display: flex;
    justify-content: center;
    font-family: monospace;
    border: solid;
    border-width: 5px;
    padding: 5px;
    background-color: #A2ABB5;

}
.Icon {
    height: 48px;
    width: 48px;
    margin: 5px;
}