.footer{
    display: flex;
    justify-content: center;
    font-family: monospace;
    margin: 10px;

}
#GH {
    background-image: url('../images/GH.png');
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
#LI {
    background-image: url('../images/LI.png');
    height: 50px;
    width: 100px;
    margin-left: 20px;

}