.footer{
    display: flex;
    justify-content: center;
    font-family: monospace;
    border: solid;
    border-width: 5px;
    padding: 5px;
    background-color: #A2ABB5;

}
#GH {
    background-image: url('../images/GH.png');
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
#LI {
    background-image: url('../images/LI.png');
    height: 50px;
    width: 100px;
    margin-left: 20px;

}